fastapi
uvicorn[standard]
python-multipart
PyMuPDF
pypdf
reportlab
Pillow
opencv-python-headless
easyocr
python-docx
openpyxl
pdfplumber
img2pdf
weasyprint
aiofiles
python-magic
requests
celery==5.3.4
redis==5.0.1
kombu==5.3.4
numpy
pytesseract
piexif
rembg
imageio
pillow-heif
scikit-learn
